/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 24, 2017, 11:34:31 PM
    Author     : Bobby Rahman Hakim
*/

body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7e57c2+0,9575cd+15,9575cd+15,651fff+41,673ab7+68,7c4dff+91,7c4dff+91,512da8+99 */
    background: #7e57c2; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #7e57c2 0%, #9575cd 15%, #9575cd 15%, #651fff 41%, #673ab7 68%, #7c4dff 91%, #7c4dff 91%, #512da8 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #7e57c2 0%,#9575cd 15%,#9575cd 15%,#651fff 41%,#673ab7 68%,#7c4dff 91%,#7c4dff 91%,#512da8 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #7e57c2 0%,#9575cd 15%,#9575cd 15%,#651fff 41%,#673ab7 68%,#7c4dff 91%,#7c4dff 91%,#512da8 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e57c2', endColorstr='#512da8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:#fff;
}
h2{
    color:#fff;
}
.form-control-style, .form-control-style:focus{
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.form-control-style::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
.form-control-style::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.form-control-style:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.form-control-style:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}




body {
    padding-top: 50px;
    position: relative;
}

pre {
    tab-size: 8;
}
.gray{
    color: #333 !important;
}
.navbar-inverse {
    background-color: #f8f8f8;
    border-color: #ddd;
}
.navbar-inverse .navbar-toggle, .navbar-collapse {
    border-color: #ddd !important;

}
.navbar-nav>li>a:hover {
    color: #333 !important;
}
.navbar-toggle, .navbar-toggle:hover {
    background-color:#bfbfbf !important;
    margin-left:20px;
}

@media screen and (max-width: 768px) {
    .side-collapse-container{
        width:100%;
        position:relative;
        left:0;
        transition:left .4s;
    }
    .side-collapse-container.out{
        left:200px;
    }
    .side-collapse {
        top:50px;
        bottom:0;
        left:0;
        width:200px;
        position:fixed;
        overflow:hidden;
        transition:width .4s;
    }
    .side-collapse.in {
        width:0;
    }

}

#menuregis li {
    display: block;
    float: left;
    color: #000;
    background: #fff;
    background: rgba(255,255,255, 0.5);
    width: 50%;
}
#menuregis li.active{
    background:#666;
    background: rgba(0,0,0, 0.5);
    color: #fff;
}
#menuregis li a{
    text-decoration:none;
    color: #000;
}
#menuregis li.active a:hover{
    color: #000;
}
#menuregis li:hover{
    background: rgba(255,255,255, 0.8);
}
#menuregis li a,
#menuregis li.active a{
    padding: 9px 18px;
    display:block;
}
#menuregis li.active a{
    color: #fff;
}
#menuregis{
    position:fixed;
    top:0;
    left:0;
    height: 50px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
}

.ebannerrow{
    margin-right: 0px;
    margin-left: 0px;
}

.ebannercols{
    padding: 0px;
}

.ebanner{

}